<!--
    @import "redcss.css";
-->
.thick {
   font-size:15px;
}
.green {
   color:green;
}
.myclass {
            background-color: black;
            padding: 20px;
        }
h1 {
    color: rgb(50%,50%,50%);
    font-weight: normal;

    margin-bottom: 1em;

    background-color:yellow;
    background-image: url("../images/sm.png");
    background-repeat: no-repeat;
    background-position:50% 27%;
    background-attachment: fixed;
    font-family:georgia,garamond,serif;
    font-style:italic;
    font-variant:initial;

    font-weight:600;
    font-size:xx-large;
    direction:ltr;
    letter-spacing:.9pc;
    word-spacing:.9em;
    text-indent:2cm;
    text-align:left;
    text-decoration:underline;
    white-space:pre;
    text-transform: capitalize;
    text-shadow:4px 4px 4px red;


}
table{ border :5px solid #C00; }

body > p {
    color: #EE00FF;
    text-transform: uppercase;

}
body {
    background-image: url("../images/background.jpeg");
   /* background-repeat: no-repeat;
    background-position:50% 50%;
    background-attachment: fixed;
    background: url(../images/SM.png) left top no-repeat,url("../images/mountain.jpg") repeat 20% 10%;
    color: #EE0000;*/
}

#a {
    word-spacing:5px;
    color: #EEFFFF;

/*    background: -webkit-linear-gradient(left top, red , blue);
    background: -o-linear-gradient(bottom right, red, blue);
    background: -moz-linear-gradient(bottom right, red, blue);
    background: linear-gradient(to bottom right, red , blue);

    background: -webkit-radial-gradient(red 5%, green 15%, pink 60%);
    background: -o-radial-gradient(red 5%, green 15%, pink 60%);
    background: -moz-radial-gradient(red 5%, green 15%, pink 60%);
    background: radial-gradient(red 5%, green 15%, pink 60%);*/

    background: -webkit-repeating-radial-gradient(blue, yellow 10%, green 15%);
    background: -o-repeating-radial-gradient(blue, yellow 10%, green 15%);
    background: -moz-repeating-radial-gradient(blue, yellow 10%, green 15%);
    background: repeating-radial-gradient(blue, yellow 10%, green 15%);

    /*
        border-bottom-color:#009900; /* Green
        border-top-color:#FF0000;    /* Red
        border-left-color:#330000;   /* Black
        border-right-color:#0000CC;  /* Blue

        border-top-style:solid;
        border-bottom-style:outset;
        border-left-style:dotted;
        border-right-style:double;

        border-top-width:1px;
        border-bottom-width:5px;
        border-left-width:5px;
        border-right-width:13px;

        padding: 1% 2% 3% 4%;*/
    cursor:text;

    width:50px; height:120px;
    overflow: hidden;
    word-break: break-all;

    border:1px solid transparent; padding:20px;
    box-shadow: 10px 10px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
#b {
    font-stretch: extra-condensed;}
.outlinetest {
    width:500px; height:40px; border:20px solid transparent; padding:5px; margin:10px; line-height:20px;
   /* overflow:auto;
*/    visibility:visible;
    position:relative; left:10px; top:10px;
    border-radius: 15px 50px 30px 10px;
    border-image-source: url(../images/SM.png);
    border-image-repeat: round;
    border-image-slice: 30;
    border-image-width: 30px;
}
div > p:first-child {
    FILTER:Glow(Color=red, Strength=8);
}
p.outlinetest1:first-line {


    text-decoration: underline;
}
p.outlinetest1:first-letter {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

    FILTER: Glow(Color=#ff0000, Strength=8);
}
img {
    border:2px solid red;
    height:250px;
    width:250px;
    -moz-opacity:2.0;
}
a:link {color:#0000FF}
a:visited {color: #00FF00}
a:hover {color: #FF0000}
a:active {color: #FF00CC}
table.one {
    border-collapse:separate;
    border-style:dotted;
    border-width:4px;
    border-color:#00FFFF;
    padding:10px;
    border-spacing:5px 10px;
    empty-cells:hide;
    table-layout: auto;
}

ul {
    list-style-type:disc;
    list-style-image: url(../images/right.png);
}
div.box1 {
    width: 200px;
    height: 100%;
    column-count: 3;
    column-gap: 50px;
    outline: 2px dotted blue;
    outline-offset: 15px;
    border: 1px solid black;
    background-color: lightpink;
       animation-name: animation;
    animation-duration: 3s;
    box-sizing: border-box;
    word-spacing:1px;

@media screen and (max-width: 120px) {
    body{
    background-color: lightblue;
    }

}
}

@keyframes animation {
  /*  from {background-color: pink;margin-left:100%;
        width:300%}
    50% {
        font-size:300%;
        margin-left:0%;
        width:150%;
    }
    to {background-color: green;margin-left:0%;
        width:100px;}*/
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}